body{
    margin: 0;
    padding: 0;
    --glowny-kolor: rgb(250, 178, 84);
}


#main{
    margin: 0;
    padding: 0px;
    background-image: url("images/img1.jpg");
    width:100%;
    height: 45vw;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

#main h1{
    color: white;
    justify-content: center;
    margin: 0;
    text-align: center;
    font-size: 44px;
    padding-top: 200px;
    font-family: 'Playfair Display', serif;
    
}
#main h2{
    color:white;
    justify-content: center;
    text-align: center;
    font-size: 32px;
    margin: 0;
    font-family: 'Playfair Display', serif;
    padding-top: 30px;
 
}
#bar{
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: rgba(117, 114, 114, 0.74);
    margin: 0;
    padding: 0;
    position: sticky;
    top: 0;
}

#bar:hover{
    background-color: black;
    transition: width 0.5s, height 2s, background-color 1s ease-in-out;
    color: black;
    text-decoration: none;
}

.logo{
    display: grid;
    grid-template-rows: 15% 85%;
    color: white;
    font-size: 28px;
    justify-items: center;
}
.navigation{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
    font-size: 15px;
    justify-items: right;
    
    
}
.navigation ul{
    padding: 20px;
    margin: 0;
    list-style: none;
    align-items: center;
}
.navigation ul li{
    display: inline;
    margin: 20px;
    
}
.navigation ul li a{
    text-decoration: none;
    color:white;
    
}

.nav1{
    color: white;

}
.nav2{
    color: white;
}
.nav3{
    color: white;
}
.nav4{
    color: white;
}
.nav5{
    color: white;
}
.nav6{
    color: white;
}

@keyframes probna {
    from {background-color:var(--glowny-kolorr);width: 0px; height: 0px;}
    to {background-color: #f1f1f1;width: 250px; height:130px;}
}

.dropdown {
    position: relative;
    display: inline-block;
   

  }

.dropdown-content {
    display: none;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: absolute;
    background-color: #f1f1f1;
    width: 250px;
    height: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: orange;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown:hover .dropdown-content {
    display: block;     
    animation-name: probna;
    animation-duration: 0.5s;
    color: white;
}

.link:hover{
    color: white;
    transition: color 1s linear;
    background-color: orange;
    transition: color 1s linear;
}

#AboutMeContent{
    display: grid;
    grid-template-columns: 50% auto;
    height: auto;
    width: 100%;
    margin: 0%;
    justify-items: left;
}

#AboutMe{
    background-color: rgb(228, 228, 228);

}
#AboutMe h2{
    font-size: 34px;
    text-align: center;
    padding: 50px; 
    margin: 0;
    font-family: 'Playfair Display', serif;
}
#AboutMe h3{
    font-size: 20px;
    text-align: center;
    padding:1%;
    margin: 0;
    font-family: 'Playfair Display', serif;
}

#AboutMe p{
    font-size: 18px;
    text-align: center;
    margin: 0;
}

#AboutMeContentText{
    margin: 0px;
    padding-left: 150px;
}

#AboutMeContentPhoto{
    margin: 0px;
    justify-items: right;
    align-content: center;
    align-items: left;
    padding-left: 50px;
    padding-bottom: 3%;
}

#AboutMeContentText p{
    font-size: 21px;
    text-align: right;
}

#offerMainPage{
    padding: 7px;
    margin: 0px;
    background-color: rgb(48, 32, 32);
}
#offerMainPage h1{
    text-align: center;
    color: orange;
    font-family: 'Playfair Display', serif;
    font-size: 34px;
    padding: 2%;
    margin: 0px;
}

#courseOffer{
    display: grid;
    margin: 0px;
    grid-template-rows: 33.33% 33.33% 33.33%;
    grid-template-columns: 33.33% 33.33% 33.33%;
    width: 100%;

}
.course{
    padding: 5%;
    justify-content: center;
    text-align: center;
}

.course h2{
    color:orange;
    text-align: center;
    font-family: 'Playfair Display', serif;
    margin: 0px;
}
.course h3{
    color:white;
    font-size: 64px;
    text-align: center;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-family: 'Playfair Display', serif;
    margin: 0px;
}
#courseOffer p{
    padding-top: 8%;
    color: white;
    font-size: 21px;
    margin: 0px;
}
#links{
    display: grid;
    margin: 0px;
    grid-template-columns: 33.33% 33.33% 33.33%;
    width: 100%;
    justify-content: center;
    justify-items: center;
    align-items: center;
    text-decoration:none; 

}
#links a {
     color:white;
     
} 

.linkMore1{
border: 1px solid orange;
color: white;
width: 200px;
height: auto;
border-radius: 25px;
text-decoration: none;
background-color: orange;
font-size: 18px;
color:white;


}
#myWork{
    padding:7px;
}
#AboutClasess{
    display: grid;
    margin: 0px;
    grid-template-rows: auto auto;
    grid-template-columns: 50% 50%;
    width: 100%;
}

.TitleMyCourses{
    color:black;
    text-align: center;
    font-family: 'Playfair Display', serif;
    margin: 0px;
    font-size: 42px;
    padding-top: 1.5%;
    padding-bottom: 3%;
}
.SubTitleMyCourses{
    color:black;
    text-align: center;
    font-family: 'Playfair Display', serif;
    margin: 0px;
    padding-bottom: 4%;
    font-size: 24px;
}

.Profesjonalizm{
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: auto auto;
    margin: 0%;
    justify-items: center;
    align-items: center;
}
.Profesjonalizm .fas{
    font-size: 60px;
}

.Profesjonalizm h1{
    color:black;
    text-align: center;
    font-family: 'Playfair Display', serif;
    margin: 0px;
    padding-bottom: 1.5%;
    padding-top: 3%;
    font-size: 24px;
}

.OrganizacjaZajęć{
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: auto auto;
    margin: 0%;
    justify-items: center;
    align-items: center;
}
.OrganizacjaZajęć .fas{
    font-size: 60px;
}

.OrganizacjaZajęć h1{
    color:black;
    text-align: center;
    font-family: 'Playfair Display', serif;
    margin: 0px;
    padding-bottom: 1.5%;
    padding-top: 3%;
    font-size: 24px;
}

.GwarancjaSukcesu{
    display: grid;
    grid-template-columns: 20% auto;
    grid-template-rows: auto auto;
    margin: 0%;
    justify-items: center;
    align-items: center;
}
.GwarancjaSukcesu .fas{
    font-size: 60px;
}

.GwarancjaSukcesu h1{
    color:black;
    text-align: center;
    font-family: 'Playfair Display', serif;
    margin: 0px;
    padding-bottom: 1.5%;
    padding-top: 3%;
    font-size: 24px;
}

.PhotoMojeKursy{
    margin: 0px;
}

.PhotoMojeKursy img{
    width: 45vw; 
    height: 100%;
    padding-left: 40px;

}

.przykladowaKlasa{
    background-color: yellow;
}

#naszCanvas{
    width: 300px;
    height: 200px;
    border: 1px solid red;
}
#contact{
    background-color: rgb(48, 32, 32);
    display:grid;
    grid-template-columns: 30% 30%;
    color:white;
    justify-content: center;
    padding: 7px;
    
}
#contactForms{
    margin-top: 10%;
}
#contactTekst{
    margin-top: 40%;
    justify-content: center;
    justify-items: center;
    align-items: center;
}
.inputcheck{
    color: white;

}

.labelContact{

    text-align: right;
    padding: 5px;
}
.inputKont{
    border: solid 1px white;
    border-radius: 12px;
    color: white;
    background-color: rgb(48, 32, 32);
    height: 30px;
    width:300px;
}
::placeholder {
    color: rgb(161, 161, 161);
  }

#contactTitle{
    color:orange;
    text-align: center;
    font-family: 'Playfair Display', serif;
    margin: 0px;
    padding-bottom: 1.5%;
    padding-top: 3%;
    font-size: 42px; 
  }

.inputWiadomosc{
    border: solid 1px white;
    border-radius: 12px;
    color: white;
    background-color: rgb(48, 32, 32);
    height: 160px;
    width:300px;
}
#wyslij{
    border: 1px solid orange;
    color: white;
 
    width: 200px;
    height: 50px;
    border-radius: 25px;

    background-color: orange;
    font-size: 18px;
    text-align: center;
    justify-content: center;
}
footer{
    background-color: rgb(228, 228, 228);
    color: rgb(0, 0, 0);
    text-align: center;
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0%;
    justify-items: center;
    align-items: center;
}
footer p{
    margin: 4px;
}
